
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
  --primary-background: #141414;
  --secondary-background: #2c2c2c;
  --primary-text: #ffffff;
  --secondary-text: #e5e5e5;
  --accent-color: #e50914; 
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem 2rem;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: 1rem;
}


a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--secondary-text);
}